.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.logo {
    float: left;
    width: 140px;
    height: 35px;
    margin: 13px 0;
    background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: bold;
    background-color: #ff4a4a;
    letter-spacing: -1px;
    color: #f2f2f2;
    height: 35px;
    line-height: 1;
    text-align: center;
    margin: 0;
}
